@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #F9F9F9; }

.contents {
  position: fixed;
  top: 9vh;
  height: 80vh;
  width: 100%;
  background: #F9F9F9;
  overflow-y: scroll;
  overflow-x: hidden; }
  .contents-header {
    display: flex;
    align-items: center;
    height: 40px;
    color: #8E8E93; }
    .contents-header p {
      font-size: .7em;
      margin-bottom: 0;
      padding-left: 2vw; }

.tabs {
  position: fixed;
  bottom: 0;
  height: 11vh;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; }
  .tabs__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin: 0 auto; }
  .tabs-active .tabs-color {
    background: #75D6DD; }
  .tabs-color {
    position: absolute;
    bottom: 0px;
    width: 33vw;
    height: 7px; }

.tabs__buttons-set {
  width: 33vw;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .tabs__buttons-set p {
    margin-bottom: 0; }

.temp-button {
  margin-top: 3vh;
  margin-left: 2vh;
  margin-right: 2vh;
  border-bottom: 1px solid #E3E3E3; }

.navigation {
  position: fixed;
  height: 9vh;
  width: 100%;
  background: white url(../images/nav.png);
  background-size: cover;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; }
  .navigation-content {
    height: 100%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; }
    .navigation-content h3 {
      color: #000000;
      text-align: center;
      margin: 0; }
    .navigation-content img {
      width: 15px; }
    .navigation-content-holder {
      width: 15px;
      height: 15px; }

.search {
  position: fixed;
  top: 9vh;
  height: 8vh;
  width: 100%;
  z-index: 1000;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); }
  .search input {
    width: 95vw;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    background: white;
    padding-left: 25px; }
  .search img {
    position: absolute;
    top: 3vh;
    left: 4vw;
    width: 15px; }

.contents-home {
  height: 73vh;
  top: 16vh; }

.place-holder {
  width: 100%;
  height: 25vh;
  overflow: hidden; }
  .place-holder img {
    max-width: 100%; }
.place-info {
  margin: 0 auto;
  padding: 0 5vw 0 5vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white; }
  .place-info h5 {
    font-weight: 900; }
  .place-info p {
    font-size: .7em;
    margin-bottom: 0;
    margin-top: 0; }

.Login {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #F9F9F9; }
  .Login-image {
    width: 100vw;
    height: 30vh;
    background: white url(../images/login.png) no-repeat left bottom;
    background-size: 100% 80px; }
  .Login-contents {
    text-align: center;
    margin: 0 auto; }
    .Login-contents-buttons {
      font-size: 1.3em; }
      .Login-contents-buttons-login {
        width: 70vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        background-color: #75D6DD;
        border: 3px solid #71CDD4;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 2vh;
        margin-top: 3vh;
        color: white; }
      .Login-contents-buttons-signup {
        width: 70vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border: 3px solid #75D6DD;
        border-radius: 10px;
        margin: 0 auto;
        color: #75D6DD; }
      .Login-contents-buttons a {
        text-decoration: none; }
  .Login input {
    width: 70vw;
    height: 5vh;
    margin-bottom: 2vh; }

.Add input {
  background: white;
  width: 100vw;
  padding-left: 2vw;
  vertical-align: top; }
.Add #location {
  height: 5vh; }
.Add #images {
  width: 200vw;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden; }
  .Add #images img {
    width: 100px;
    height: 100px;
    margin-right: 10px; }
.Add #notes {
  height: 15vh; }
.Add #info {
  height: 10vh; }
.Add .map img {
  width: 100vw; }
.Add a {
  text-decoration: none; }
.Add .add-button {
  text-align: center;
  width: 85vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #75D6DD;
  border: 3px solid #71CDD4;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 4vh;
  margin-top: 3vh;
  color: white; }

.list-item {
  background: white;
  padding: 1vh 3vw 1vh 3vw;
  margin-bottom: 1vh; }
  .list-item-text {
    font-size: 1.3em;
    width: 100vw;
    display: inline-block; }
  .list-item-details {
    font-size: 0.7em;
    width: 100vw;
    color: #8E8E93;
    display: inline-block; }

/*# sourceMappingURL=global.css.map */
