@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #F9F9F9; }

input {
  outline: none;
  border: none; }

a:-webkit-any-link, a {
  color: black;
  text-decoration: none;
  cursor: auto; }

.contents {
  position: fixed;
  top: 9vh;
  height: 80vh;
  width: 100%;
  background: #F9F9F9;
  overflow-y: scroll;
  overflow-x: hidden; }
  .contents-header {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 5px 0;
    color: #000000; }
    .contents-header p {
      font-size: 12px;
      margin: 0;
      padding-left: 2vw; }

.tabs {
  position: fixed;
  bottom: 0;
  height: 11vh;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; }
  .tabs__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin: 0 auto; }
  .tabs-active .tabs__buttons-set {
    border-color: #75D6DD; }

.tabs__buttons-set {
  width: 33vw;
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 7px transparent solid; }
  .tabs__buttons-set p {
    margin-bottom: 0; }

.temp-button {
  margin-top: 3vh;
  margin-left: 2vh;
  margin-right: 2vh;
  border-bottom: 1px solid #E3E3E3; }

#icon-add {
  width: 30px;
  height: 42px; }

#icon-home {
  width: 30px;
  height: 42px; }

#icon-lists {
  width: 28px;
  height: 38px; }

.navigation {
  position: fixed;
  height: 9vh;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  background: white; }
  .navigation-content {
    height: 100%;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; }
    .navigation-content h3 {
      color: #000000;
      text-align: center;
      margin: 0; }
    .navigation-content img {
      width: 15px; }
    .navigation-content-holder {
      width: 15px;
      height: 15px; }

.search {
  position: fixed;
  top: 9vh;
  height: 8vh;
  width: 100%;
  z-index: 999;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1); }
  .search input {
    width: 95vw;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #E3E3E3;
    background: white;
    padding-left: 25px; }
  .search img {
    position: absolute;
    top: 3vh;
    left: 4vw;
    width: 15px; }

.contents-home {
  height: 73vh;
  top: 17vh; }

.place-holder {
  width: 100%;
  height: 25vh;
  overflow: hidden; }
  .place-holder img {
    max-width: 100%; }
.place-info {
  margin: 0 auto;
  padding: 0 5vw 0 5vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white; }
  .place-info h5 {
    font-weight: 900; }
  .place-info p {
    font-size: .7em;
    margin-bottom: 0;
    margin-top: 0; }

.Login {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #F9F9F9; }
  .Login-image {
    width: 100vw;
    height: 30vh;
    background: white url(../images/login.png) no-repeat left bottom;
    background-size: 100% 80px; }
  .Login-contents {
    text-align: center;
    margin: 0 auto; }
    .Login-contents-buttons {
      font-size: 1.3em; }
      .Login-contents-buttons-login {
        width: 70vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        background-color: #75D6DD;
        border: 3px solid #71CDD4;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 2vh;
        margin-top: 3vh;
        color: white; }
      .Login-contents-buttons-signup {
        width: 70vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border: 3px solid #75D6DD;
        border-radius: 10px;
        margin: 0 auto;
        color: #75D6DD; }
      .Login-contents-buttons a {
        text-decoration: none; }
  .Login input {
    width: 70vw;
    height: 5vh;
    margin-bottom: 2vh; }

.confirm {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 2s add forwards ease; }

@keyframes add {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  99% {
    opacity: 0;
    top: 0; }
  100% {
    opacity: 0;
    top: 100vh; } }
.Add .add-header {
  color: black;
  font-size: 12px; }
.Add .add-placeholder img {
  width: 100vw; }
.Add input {
  background: white;
  width: 100vw;
  padding-left: 2vw;
  color: #565963;
  font-size: 14px; }
.Add ::-webkit-input-placeholder {
  font-size: 14px; }
.Add :-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px; }
.Add ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px; }
.Add :-ms-input-placeholder {
  font-size: 14px; }
.Add #location, .Add #tags {
  height: 5vh;
  background: white; }
.Add #images {
  width: 200vw;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden; }
  .Add #images img {
    width: 100px;
    height: 100px;
    margin-right: 10px; }
.Add #notes {
  height: 15vh;
  width: 100%;
  background: white; }
.Add #info {
  height: 10vh;
  background: white; }
.Add .map img {
  width: 100vw; }
.Add #map {
  width: 100vw;
  height: 30vh; }
.Add a {
  text-decoration: none; }
.Add .add-button {
  text-align: center;
  width: 85vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #75D6DD;
  border: 3px solid #71CDD4;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 4vh;
  margin-top: 3vh;
  color: white; }
.Add #add-button {
  z-index: 1000;
  height: 30px;
  width: 30px;
  position: fixed;
  top: 3vh;
  right: 20px;
  color: #75D6DD; }

.list a {
  text-decoration: none; }
.list-item {
  background: white;
  padding: 1vh 3vw 1vh 3vw;
  margin-bottom: 1vh; }
  .list-item a {
    text-decoration: none;
    color: black; }
  .list-item-text {
    font-size: 1.3em;
    width: 100vw;
    display: inline-block; }
  .list-item-details {
    font-size: 0.7em;
    width: 100vw;
    color: #8E8E93;
    display: inline-block; }

.results a:-webkit-any-link {
  color: black;
  text-decoration: none;
  cursor: auto; }
.results-place {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  background: white;
  margin-bottom: 2vh; }
.results-holder {
  width: 20vh;
  height: 20vh;
  overflow: hidden; }
  .results-holder img {
    height: 20vh; }
.results-info {
  text-decoration: none;
  width: 50vw;
  background: white; }
  .results-info a {
    text-decoration: none;
    color: black; }

#results-back {
  z-index: 1000;
  height: 30px;
  position: fixed;
  top: 15px;
  left: 20px; }

.Location .image-placeholder img {
  width: 100vw; }
.Location input {
  background: white;
  width: 100vw;
  padding-left: 2vw;
  vertical-align: top;
  color: #565963;
  font-size: 14px; }
.Location #location, .Location #tags {
  height: 5vh; }
.Location #images {
  width: 200vw;
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden; }
  .Location #images img {
    width: 100px;
    height: 100px;
    margin-right: 10px; }
.Location #notes {
  height: 15vh;
  background: white; }
.Location #info {
  height: 10vh;
  background: white; }
.Location .map img {
  width: 100vw; }
.Location #map {
  width: 100vw;
  height: 30vh; }
.Location a {
  text-decoration: none; }

#location-back {
  z-index: 1000;
  height: 30px;
  position: fixed;
  top: 15px;
  left: 20px; }

/*# sourceMappingURL=global.css.map */
