.Add2 {

  .add-header {
    color: black;
    font-size: 12px;
  }

  .add-placeholder {
    img {
      width: 100vw;
    }
  }

  input {
    background: white;
    width: 100vw;
    padding-left: 2vw;
    color: $color-input;
    font-size: 14px;
  }
  ::-webkit-input-placeholder {
    font-size: 14px;
  }

  :-moz-placeholder { /* Firefox 18- */

     font-size: 14px;
  }

  ::-moz-placeholder {  /* Firefox 19+ */

     font-size: 14px;
  }

  :-ms-input-placeholder {

     font-size: 14px;
  }

  #location, #tags {
    height: 5vh;
    background: white;
  }

  #images {
    width: 200vw;
    height: 100px;
    img {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #notes {
    height: 15vh;
    width: 100%;
    background: white;
  }

  #info {
    height: 10vh;
    background: white;
  }

  .map {
    img {
      width: 100vw;
    }
  }

  #map {
    width: 100vw;
    height: 30vh;
  }

  a {
    text-decoration: none;
  }

  .add-button {
    text-align: center;
    width: 85vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: $blue;
    border: 3px solid $blue-border;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 4vh;
    margin-top: 3vh;
    color: white;
  }

  #add-button{
  	z-index: 1000;
  	height: 30px;
    width: 30px;
  	position: fixed;
  	top: 3vh;
  	right: 20px;
    color: $blue;
  }
}
