@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$color-nav: #FFFFFF;
$color-text: #000000;
$color-text-secondary: #8E8E93;
$box-shadow: rgba(0,0,0,0.1);
$border-search: #E3E3E3;
$color-content-header: #F9F9F9;
$placeholder: #D8D8D8;
$color-tabs-active: #75D6DD;
$blue: #75D6DD;
$blue-border: #71CDD4;
$color-input: #565963;

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background: $color-content-header;
}

input {
	outline: none;
	border: none;
}

a:-webkit-any-link, a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.contents {
	position: fixed;
	top: 9vh;
	height: 80vh;
	width: 100%;
	background: $color-content-header;
	overflow-y: scroll;
	overflow-x: hidden;

	&-header {
		display: flex;
		align-items: center;
		height: 20px;
		padding: 5px 0;
		color: $color-text;

		p {
			font-size: 12px;
			margin: 0;
			padding-left: 2vw;
		}
	}
}
