.Location {

  .image-placeholder {
    img {
      width: 100vw;
    }
  }

  input {
    background: white;
    width: 100vw;
    padding-left: 2vw;
    vertical-align: top;
    color: $color-input;
    font-size: 14px;
  }

  #location, #tags {
    height: 5vh;
  }

  #images {
    width: 200vw;
    height: 100px;
    img {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }
    overflow-x: scroll;
    overflow-y: hidden;
  }

  #notes {
    height: 15vh;
    background: white;
  }

  #info {
    height: 10vh;
    background: white;
  }

  .map {
    img {
      width: 100vw;
    }
  }

  #map {
    width: 100vw;
    height: 30vh;
  }

  a {
    text-decoration: none;
  }
}

#location-back {
	z-index: 1000;
	height: 30px;
	position: fixed;
	top: 15px;
	left: 20px;
}
