.navigation {
	position: fixed;
	height: 9vh;
	width: 100%;
	background: white url(../images/nav.png);
  background-size: cover;
	box-shadow: 0px 5px 5px $box-shadow;
	z-index: 1000;

	&-content {
		height: 100%;
		width: 90vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;

		h3 {
			color: $color-text;
			text-align: center;
			margin: 0;
		}

		img {
			width: 15px;
		}

		&-holder {
			width: 15px;
			height: 15px;
		}
	}
}
